.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.80);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden  ;
}

.modal.is-open{
  display: flex;
}

.modal-container{
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  overflow: hidden;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}