.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.80);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden  ;
  transition: opacity .3s;
}

.modal:target{
  --opacity: 1;
  --pointer: unset;
}

.modal:target .modal-container{
  animation: scale .5s .5s backwards;
}

.modal.is-open{
  display: flex;
}

.modal-container{
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  min-width: 20rem;
  max-width: 30rem;
  min-height: 15rem;
  overflow: hidden;
  margin: 0 1rem 0 1rem;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media(min-width: 768px){
  .modal-container{
    padding: 1rem;
    min-width: 38rem;
    max-width: 40rem;
    min-height: 20rem;
  }
}